extends layout.pug

block content
    p 
        .vh-100.d-flex.flex-column.align-items-center.justify-content-center.text-center
            
            .alert.alert-danger.mb-3(role='alert')
                h4.mb-0 Not Authorized
            h5 Please sign in to make changes.
            br
            a.btn.btn-danger.btn-hover-transform(href='/') Back

            